<div class="row">
    <div class="col-md-12">
        <h2>Generic Records Web API</h2>
        <ul>
            <li>@Html.ActionLink("Category Get", "Get", "Category")</li>
            <li>@Html.ActionLink("Record Get", "Get", "Record")</li>
            <li>@Html.ActionLink("Audit Get", "Get", "Audit")</li>
        </ul>
    </div>
</div>
